[Desktop Entry]

Type=Application

Name=Minecraft

Comment=Minecraft Launcher

Path=/home/greatgamer/tlauncher-install-arch/TLauncher.v10

Exec=java -jar TLauncher.jar

Icon=Minecraft

Terminal=false

Categories=Games
